@media screen and (max-width:600px){

/* container */
.container{
    max-width: 1620px;
    margin: 0 auto;
    width: 90%;
}
.search-container {
  position: relative;
}

#search-input {
  width: 70px;
  transition: width 0.5s ease;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute; /* Muhimi shu! */
  top:15px;
  right: 50px;
  z-index: 10;
  background: white;
}

#search-input.active {
  width: 200px;
}

/* header */
/* start */

header{
    padding: 1rem;
    width: 100%;
}
.navbar{
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    max-width: 90%;
}
 .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      position: relative;
      padding: 0px;
      width: 100%;
    }

    .logo img {
      width: 50px;
      margin-left:25px;
    }

    .navbar > div {
      position: relative;
      margin-left: 20px;
      cursor: pointer;
      padding: 0;
    }

    .navbar p {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .ochki{
      display: none;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 45px;
      left: 0;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      min-width: 200px;
      height: 230px;
      height: 230px;
      z-index: 999;
      width: 100%;
    }
.dropdown p i {
  transition: transform 0.3s ease;
  display: none;
}

.dropdown.open p i {
  transform: rotate(180deg);
}
.dropdown p {
  transition: color 0.2s ease;
  display: none;
}

.dropdown:hover p {
  color: #0077ff;
}

.dropdown-content a {
  transition: color 0.2s ease;
}

.dropdown-content a:hover {
  color: #0077ff;
}

    .dropdown-content a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: #333;

    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown.open .dropdown-content {
      display: block;
    }
    .search-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    #search-input {
      width: 0;
      padding: 7px;
      transition: width 0.4s ease;
      border: 1px solid #aaa;
      opacity: 0;
    }

    #search-input.active {
      width: 180px;
      opacity: 1;
    }

    .navbar .search  {
      padding: 6px 10px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 25px;
    }
    .language{
        display: none;
        align-items: center;
        gap: 1rem;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    .language h3{
        font-size: 16px;
        font-weight: 400;
        display: flex;
    }
    .phone{
        display: none;
        color: red;
        font-size: 22px;
        font: 600;
    }

    .phone2{
      display: block;
      display: flex;
      color: red;
        font-size: 18px;
      font-weight: 800;
      }

    .button button{
        padding: 18px;
        font-size: 14px;
        border-radius: 12px;
        font-weight: 800;
    }
    .button1{
        border: 1px solid red;
        background-color: transparent;
      display: none;
    }
    .button2{
        border: 1px solid red;
        background-color: red;
        color: #fff;
    }

    .btn3{
      display: none;
    }

    .menu-toggle{
      display: none;
      font-size: 25px;
    }
    .hero{
        width: 95%;
        height: 300px;
        overflow: hidden;
        object-fit: cover;
        background-size: 69rem;
        background-color: #000;
        color: #fff;
        border-radius: 15px;
        text-align: center;
        margin-top: 2rem;
    }
    .hero_img{
        background-image: url(./img/svg/Intersect123-0a39856b.svg);
        background-position: 20% 50%;
        background-size: 30rem;
        height:200px;
        padding-inline: 1rem;
    }
    .hero h1{
        font-size: 25px;
        margin-bottom: 1rem;
        padding-top: 2rem;
    }
    .hero p{
        color: gray;
        font-size: 17px;
    }

.hero_button{
    margin-top: 2rem;
    display: block;
}
.btn{
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffff;
    margin-left: 1rem;
}
.text{
    margin-top: 2rem;
    line-height: 2;
    h2{
        font-size: 24px;
        font-family: "roboto" ,sans-serif;
        margin-left: 0rem;
    }
    p{
        font-size: 15px;
        margin-left: 0rem;
        font-weight: 600;
        color: gray;
    }
}
button{
    cursor: pointer;
}

.card{
    padding-inline: 0rem;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

    .card_1{
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    padding: 3rem;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 11px -2px rgb(160, 160, 160);
    -moz-box-shadow: 0px 0px 11px -2px rgb(153, 153, 153);
    box-shadow: 0px 0px 11px -2px rgb(147, 148, 150);
    transition: all 0.7s ease;
    &:hover{
-webkit-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
-moz-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
    }
  }

  .card_img{
    height:200px;
    width: 100%;
    object-fit: cover;
  }

  .card_p{
    padding-bottom: -100px;
  }

  .card_1 img{
    width: 160px;
  }
  .card_1 h3{
    font-size: 25px;
    text-transform: capitalize;
    padding: 3rem;
    padding-bottom: 1rem;
    transition: all 0.4s;
    &:hover{
        color: red;
    }
  }
  .card_1 p{
    font-size: 17px;
    color: gray;
  }

  .card_flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 2rem;
}

  .card_parent{
    height: auto;
  }

.card_2{
    width: 100%;
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
        border-radius: 20px;
    -webkit-box-shadow: 0px 0px 11px -2px rgb(160, 160, 160);
-moz-box-shadow: 0px 0px 11px -2px rgb(153, 153, 153);
box-shadow: 0px 0px 11px -2px rgb(147, 148, 150);
 transition: all 0.7s ease;
    &:hover{
-webkit-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
-moz-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
    }
}
.card_2 img{

        width: 175px;
}
.card_2 h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
      padding: 2rem;
    padding-bottom: 1rem;
    transition: all 0.4s;
    &:hover{
        color: red;
    }
}
.card_2 p{
    color: gray;
}
.card_2_img{
    margin-top: 2.6rem;
}
/* end */

  .valyuta{
        width: 90%;
        margin-left: 1rem;
        margin-top: 3rem;
      }

      table {
      width: 100%;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);


    }
    thead {
      background: #fab0b5;
    }
    th, td {
      padding: 6px;
      border-bottom: 1px solid #eee;
      font-size: 20px;
      transition: all 0.6s ease;
      padding: 10px;
    }

    td{
            &:hover{
        background-color: #666;
        color: #fff;
        transform: scale(1.02);
      }
    }

    .grid_template_parent{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline: 0rem;
      width: 95%;
    }
        /* end */
    .grid{
      margin-left: 2rem;
      width: 100%;
      background-color: #f4f4f4;
      text-align: center;
      margin-top: 2rem;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 11px -2px rgb(160, 160, 160);
      -moz-box-shadow: 0px 0px 11px -2px rgb(153, 153, 153);
      box-shadow: 0px 0px 11px -2px rgb(147, 148, 150);
      padding-top: 0rem;
      transition: 0.6s ease all;
      &:hover{
      -webkit-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
      -moz-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
      box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
    }
    }
    .grid img{
      width: 40%;
    }
    .grid h3{
      padding: 1rem;
      font-size: 20px;

    transition: all 0.4s;
    &:hover{
        color: red;
    }
    }
    .grid p {
      color: #666;
      margin-bottom: 1rem;
      padding-bottom: 2rem;
      font-size: 15px;
    }

    .grid_img{
      width: 10%;
      height: 160px;
      margin-top: 2.4rem;
      object-fit: cover;
    }
}