@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

/* container */
.container{
    max-width: 1620px;
    margin: 0 auto;
    width: 100%;
}

/* header */
/* start */

header{
    padding: 3rem;
}
.navbar{
     display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
 .navbar {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 12px;
      position: relative;
    }

    .logo img {
      width: 70px;
    }

    .navbar > div {
      position: relative;
      margin-left: 20px;
      cursor: pointer;
    }

    .navbar p {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .dropdown-content {
      display: none;
      position: absolute;
      top: 45px;
      left: 0;
      background-color: white;
      border: 1px solid #ccc;
      border-radius: 6px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      min-width: 200px;
      height: 230px;
      height: 230px;
      z-index: 999;
      width: 100%;
    }
.dropdown p i {
  transition: transform 0.3s ease;
}

.dropdown.open p i {
  transform: rotate(180deg);
}
.dropdown p {
  transition: color 0.2s ease;
}

.dropdown:hover p {
  color: #0077ff;
}

.dropdown-content a {
  transition: color 0.2s ease;
}

.dropdown-content a:hover {
  color: #0077ff;
}

    .dropdown-content a {
      display: block;
      padding: 10px 15px;
      text-decoration: none;
      color: #333;

    }

    .dropdown-content a:hover {
      background-color: #f1f1f1;
    }

    .dropdown.open .dropdown-content {
      display: block;
    }
    .search-container {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    #search-input {
      width: 0;
      padding: 7px;
      transition: width 0.4s ease;
      border: 1px solid #aaa;
      opacity: 0;
    }

    #search-input.active {
      width: 200px;
      opacity: 1;
    }

    .navbar .search button {
      padding: 6px 10px;
      cursor: pointer;
      background-color: transparent;
      border: none;
      font-size: 30px;
    }
    .language{
        display: flex;
        align-items: center;
        gap: 1rem;
        img{
            width: 30px;
            height: 30px;
            border-radius: 50%;
        }
    }
    .language h3{
        font-size: 16px;
        font-weight: 400;
        display: flex;
    }
    .phone{
        display: flex;
        color: red;
        font-size: 22px;
        font: 600;
    }

    .button button{
        padding: 18px;
        font-size: 14px;
        border-radius: 12px;
        font-weight: 800;
    }
    .button1{
        border: 1px solid red;
        background-color: transparent;
    }
    .button2{
        border: 1px solid red;
        background-color: red;
        color: #fff;
    }
    .hero{
        width: 1450px;
        height: 300px;
        overflow: hidden;
        object-fit: cover;
        background-size: 69rem;
        background-color: #000;
        color: #fff;
        border-radius: 30px;
    }
    .hero_img{
        background-image: url(./img/svg/Intersect123-0a39856b.svg);
        background-position: 30% 50%;
        background-size: 88rem;
        height: 300px;
        padding-left: 3rem;
    }
    .hero h1{
        font-size: 60px;
        margin-bottom: 1rem;
        padding-top: 3rem;
    }
    .hero p{
        color: gray;
        font-size: 25px;
    }

    /* MENU TUGMASI (avval yashirin) */
.menu-toggle {
  display: none;
  font-size: 32px;
  cursor: pointer;
  padding: 10px;
}
.hero_button{
    margin-top: 2rem;
}
.btn{
    background-color: transparent;
    color: #fff;
    border: 1px solid #ffff;
    margin-left: 1rem;
}
.text{
    margin-top: 5rem;
    line-height: 2;
    h2{
        font-size: 30px;
        font-family: "roboto" ,sans-serif;
        margin-left: 5rem;
    }
    p{
        font-size: 20px;
        margin-left: 5rem;
        font-weight: 600;
        color: gray;
    }
}
button{
    cursor: pointer;
}
.card{
    padding-inline: 4rem;
    margin-top: 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

    .card_1{
    width: 650px;
    height: 825px;
    background-color: #f4f4f4;
    padding: 3rem;
    text-align: center;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 11px -2px rgb(160, 160, 160);
    -moz-box-shadow: 0px 0px 11px -2px rgb(153, 153, 153);
    box-shadow: 0px 0px 11px -2px rgb(147, 148, 150);
    transition: all 0.7s ease;
    &:hover{
-webkit-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
-moz-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
    }
  }

  .card_img{
    height: 500px;
    width: 50%;
    object-fit: cover;
  }

  .card_p{
    padding-bottom: -100px;
  }

  .card_1 img{
    width: 560px;
  }
  .card_1 h3{
    font-size: 25px;
    text-transform: capitalize;
    padding: 3rem;
    padding-bottom: 1rem;
    transition: all 0.4s;
    &:hover{
        color: red;
    }
  }
  .card_1 p{
    font-size: 17px;
    color: gray;
  }

  .card_flex{
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem;
}

  .card_parent{
    height: 780px;
  }

.card_2{
    width: 360px;
    background-color: #f4f4f4;
    padding: 2rem;
    text-align: center;
        border-radius: 20px;
    -webkit-box-shadow: 0px 0px 11px -2px rgb(160, 160, 160);
-moz-box-shadow: 0px 0px 11px -2px rgb(153, 153, 153);
box-shadow: 0px 0px 11px -2px rgb(147, 148, 150);
 transition: all 0.7s ease;
    &:hover{
-webkit-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
-moz-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
    }
}
.card_2 img{

        width: 175px;
}
.card_2 h2{
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 1rem;
      padding: 2rem;
    padding-bottom: 1rem;
    transition: all 0.4s;
    &:hover{
        color: red;
    }
}
.card_2 p{
    color: gray;
}
.card_2_img{
    margin-top: 2.6rem;
}
/* end */

/* valyuta section css */

      .valyuta{
        margin-left: 13rem;
        margin-top: 12rem;
      }

      table {
      width: 89%;
      border-collapse: collapse;
      border-radius: 10px;
      overflow: hidden;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);


    }
    thead {
      background: #fab0b5;
    }
    th, td {
      padding: 16px;
      border-bottom: 1px solid #eee;
      font-size: 20px;
      transition: all 0.6s ease;
    }

    td{
            &:hover{
        background-color: #666;
        color: #fff;
        transform: scale(1.02);
      }
    }
    .down {
      color: red;
      margin-left: 5px;
    }
    .updated {
      margin-top: 10px;
      font-style: italic;
      color: #666;
    }

    .grid_template_parent{
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-inline: 4rem;
    }
        /* end */
    .grid{
      width: 450px;
      background-color: #f4f4f4;
      text-align: center;
      margin-top: 5rem;
      border-radius: 20px;
      -webkit-box-shadow: 0px 0px 11px -2px rgb(160, 160, 160);
      -moz-box-shadow: 0px 0px 11px -2px rgb(153, 153, 153);
      box-shadow: 0px 0px 11px -2px rgb(147, 148, 150);
      margin-right: 2rem;
      padding-top: 2rem;
      transition: 0.6s ease all;
      &:hover{
      -webkit-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
      -moz-box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
      box-shadow: 0px 31px 17px -15px rgba(147, 148, 150, 0.48);
    }
    }
    .grid img{
      width: 40%;
    }
    .grid h3{
      padding: 1rem;
      font-size: 25px;

    transition: all 0.4s;
    &:hover{
        color: red;
    }
    }
    .grid p {
      color: #666;
      margin-bottom: 1rem;
      padding-bottom: 2rem;
    }

    .grid_img{
      width: 10%;
      height: 160px;
      margin-top: 2.4rem;
      object-fit: cover;
    }
    /* BRB ilovasi */

    .hero_2{
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 1rem;
      width: 78%;
      height: 450px;
      margin-left: 12rem;
      object-fit: cover;
    }
    .hero_2 h1{
      align-items: center;
      text-align: center;
      font-size: 50px;
      padding-top: 7rem;
      width: 80%;
      padding-left: 13rem;
    }

    .hero_img2{
      height: 450px;
    }
    .hero_img2 h3{
      margin-left: -5rem;
      margin-top: 1rem;
      padding-bottom: 4rem;
      font-weight: 500;
      font-size: 20px;
    }

    button{
      transition: 0.5s;
      &:hover{
        -webkit-box-shadow: 0px 31px 17px -15px rgba(81, 94, 104, 0.48);
        -moz-box-shadow: 0px 31px 17px -15px rgba(117, 123, 128, 0.48);
        box-shadow: 0px 31px 17px -15px rgba(89, 95, 100, 0.48);
      }
    }

    .button3{
      margin-top: 4rem;
    }

    /* End */

    /* valyuta kursi section css */

    .valyuta_kurs{
      align-items: center;
      margin-top: 5rem;
      width: 50%;
      margin-bottom: 2rem;
    }

    .valyuta_kurs hr{
      opacity: 0.5;
    }

    .text2{
      padding-left: 20rem;
      font-size: 25px;
      margin-top: 5rem;
      font-weight: 100;
    }
    .valyuta_text{
      display: flex;
      text-align: center;
      gap: 8rem;
      justify-content: space-between;
    }
    .valyuta_text h3{
      font-size: 22px;
      margin-bottom: 1rem;
      margin-top: 1rem;
    }

    .valyuta_text p{
      font-size: 20px;
      margin-top: 1rem;
    }

    .valyuta_kurs .btn2{
      padding: 5px;
      font-size: 17px;
      color: #fff;
      background-color: #000;
      border-radius: 20px;
      margin-bottom: 2rem;
    }
    /* End */

    .banner{
      background-image: url(./img/png/Banner-6268417e.png);
      width: 82%;
      align-items: center;
      display: flex;
      padding-inline: 5rem;
      background-position: 35% 50%;
      background-size: 100rem;
      justify-content: space-between;
      margin-bottom: 4rem;
      border-radius: 30px;
      margin-top: 9rem;
      height: 500px;
    }

    .banner_div h1{
      font-size: 65px;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    .banner_div p{
      font-size: 20px;
      width: 60%;
      margin-bottom: 1rem;
      line-height: 1.5;
      color: #666;
    }

    .banner_button{
      background-color: transparent;
      border: 1px solid rgb(209, 203, 203);

      &:hover{
        border: 1px solid #000000;
      }
    }

    /* End */

    .Elon{
      display: flex;
      padding-inline: 4rem;
      overflow: hidden;
      justify-content: space-around;
      gap: 4rem;
      padding-right: 7rem;
    }
    .Elon img{
      width: 30%;
    }

    .Elon-text h1{
      font-size: 45px;
      width: 70%;
      font-weight: 400;
      letter-spacing: 2px;
      margin-bottom: 1rem;
    }

    .Elon-text p{
      font-size: 20px;
      width: 76%;
      line-height: 1.5;
      margin-bottom: 1.5rem;
    }

    .Elon-text ul li{
      font-size: 20px;
      width: 70%;
      margin-top: 1rem;
      list-style-type: initial;
      margin-left: 1rem;
      margin-bottom: 1rem;
    }

    .Elon-text ul li span{
      font-size: 20px;
      font-weight: 800;
    }

    .Elon-text button{
      padding: 18px 25px;
      background-color: #e6e4e4;
      border-radius: 12px;
      border: none;
      font-size: 14px;
      margin-top: 2rem;
      margin-bottom: 2rem;

      &:hover{
        color: red;
      }
    }